@model ShoppingMongo.Dtos.SliderDtos.GetSliderByIdDto
@{
    ViewData["Title"] = "SliderGüncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Slider Düzenle</h1>
<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="SliderId" />

        <label>Başlık</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Başlık" asp-for="Title">
        </div>
        <br />

        <label>Alt Başlık</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Alt Başlık" asp-for="Subtitle">
        </div>
        <br />

        <label>Görsel URL</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Görsel URL" asp-for="ImageUrl">
        </div>
        <br />

        <button class="btn btn-outline-primary form-control">Kaydet</button>
    </form>
</div>
