@model ShoppingMongo.Dtos.ProductDtos.CreateProductDto

@{
    ViewData["Title"] = "Yeni Ürün Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Ürün Ekle</h1>
<div class="container">
    <br /><br />
    <form method="post">
        <label>Ürün Adı</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Ürün Adı" asp-for="ProductName" />
        </div>
        <br />

        <label>Fiyat</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Fiyat" asp-for="ProductPrice" />
        </div>
        <br />

        <label>Görsel URL</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Görsel URL" asp-for="ImageUrl" />
        </div>
        <br />

        <label>Stok Miktarı</label>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Stok Miktarı" asp-for="StockCount" />
        </div>
        <br />

        <label>Kategori Seçin</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.v">
            <option value="">Seçiniz</option>
        </select>
        <br />

        <button class="btn btn-outline-primary form-control">Ekle</button>
    </form>
</div>
